* {
	margin: 0px;
	padding: 0px;
	/*overflow:hidden;*/
}

body {
    background-color: #92C5FC;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23f9f9f9' fill-opacity='0.09' fill-rule='evenodd'/%3E%3C/svg%3E");
}

#titulo {
	-webkit-text-stroke: 0.6px blue;
    font-family: 'Corbel';
    color: #F2F3F4;/*#333333;*/
    font-weight: bold;
    font-size: 40px;
}

/* SLIDER DE VIDEOS */
.ind {
    background-color: #333333;
    opacity: 0.7;
    border-radius: 10px;
}

.ind a{
    opacity: 1;
}

.bgVideo {
    background-color: #000000;
}

iframe {
    height: 500px;
}

video {
    height: 500px;
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    iframe {
        max-width: 100%;
        height: 300px;
    }

    video {
        max-width: 100%;
        height: 300px;
    }
}

/*BOTONES DE NAVEGACION ENTRE SECCIONES*/
.btn {
    width: 130px;
    margin-bottom: 10px;
    background-color: white;
}

.separador{
	width: 100%;
	height: 30px;
	background-color: #333333;
}

h3{
    text-align: center;
}

.seccion {
	/*background-color: #F2F3F4;*/
    color:black;
    font-size:25px;
    height:auto; /*180px*/
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    border: solid, 1px, #333333;
    font-family: Book Antiqua;
}



/* FOOTER RESPONSIVE */
footer {
    width: 100%;
    background-color: #1E90FF;
    color: #FFFFFF;
    /*padding: 40px;*/
}

footer a:hover{
    opacity: 0.6;
}

.container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    padding-bottom: 10px;
}

.container-body {
    display: flex;
    justify-content: space-between;
}

.column1 {
    max-width: 400px;

}

.column1 h1 {
    font-size: 22px;
}

.column1 p {
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 20px;
}

.column2 {
    max-width: 400px;

}

.column2 h1{
    font-size: 22px;
}

.row1 {
    margin-top: 20px;
    display: flex;
}

.row1 img {
    width: 36px;
    height: 36px;
}

.row1 label {
    margin-top: 10px;
    margin-left: 10px;
    color: white; /*C7C7C7*/
}

.row1 a{
    text-decoration: none;
    color: white;
}

.column3 {
    max-width: 400px;
}

.column3 h1 {
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 a{
    text-decoration: none;
    color: white;
}

.row2 img {
    width: 36px;
    height: 36px;
}

.row2 label {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer {
    width: 100%;
    background-color: #101010;
    padding: 20px;
    
}

.footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.copyright {
    color: #FFFFFF;
}

.copyright a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1100px) {
    .container-body {
        flex-wrap: wrap;
    }

    .column1{
        max-width: 100%;
    }

    .column2, .column3 {
        margin-top: 40px;
    }
}